@charset "utf-8";

#pestanas {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#titulo {
	font-weight: bolder;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contenido {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
}

#fotos {
	border-radius: 20%;
}

#fotos2 {
	border-radius: 41%;
}

#final {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

#final2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#final3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

body {

	background: #bd835d;


}

.encabezado {
	height: 70px;
	background: #feeed4;
	position: fixed;
	z-index: 1700;
	width: 100%;
	box-shadow: 0px 4px 7px;
	top: 0;
	left: 0;

}



.img {
	height: 65px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;

}

.encabezado nav {

	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 40px;

}

.encabezado nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;

}

.encabezado nav li a {
	display: flex;
	text-decoration: none;
	font-size: 15px;
	font-family: allerta;
	color: #617b22;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 40%;
	padding: 4px 10px;


}

.encabezado nav li a:hover {
	background: #8d9b4c;
	color: #feeed4;
}

.encabezado nav ul li ul {
	text-align: center;
	flex-direction: column;
	position: absolute;
	background: #feeed4;
	display: none;


}

.encabezado nav ul li ul li {
	weight: 140px;
	position: relative;
}

.encabezado nav ul li ul li ul {
	position: absolute;
	top: 0;
	left: 90px;


}

.encabezado nav li a:hover {
	background: #8d9b4c;
	color: #feeed4;


}

.encabezado nav ul li ul {
	text-align: center;
	flex-direction: column;
	position: absolute;
	background: #feeed4;
	display: none;

}

.encabezado nav ul li ul li {
	weight: 140px;
	position: relative;
}

.encabezado nav ul li ul li ul {
	position: absolute;
	top: 0;
	left: 90px;
}

.encabezado nav ul li:hover>ul {
	display: block;

}

.maquillaje h1 {
	padding: 25px;
	background: #ba6f84;
	margin: 30px;
	padding-top: 15px;
	padding-right: 100px;
	padding-left: 0px;
	text-align: center;


}


.home {
	display: flex;
	flex-wrap: wrap;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14px;
	position: absolute;
}

in-flex1 {
	min-width: 300px;
	padding: 25px;
	background: #2b140e;
	margin: 20px;

}


.in-flex:first-child {
	flex: 2;
	padding: 25px;
	background: #bd835d;
	margin: 20px;

}

.in-flex div {
	padding: 25px;
	background: #feeed4;
	margin: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: justify;
}

.maquillaje .home .in-flex {
	width: 450px;
	margin-top: 31px;
	margin-bottom: 31;
	height: auto;

}

.maquillaje .home .in-flex2 {
	width: 450px;
	height: auto;
}

.maquillaje .home .in-flex3 {
	width: 450px;
	margin-top: 31px;
	text-align: left;
	height: auto;
}

form {
	width: 396px;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	background-color: #ba6f84;
	font-family: allerta;
	font-style: normal;
	font-size: 14px;
	text-align: justify;

}

.img img:hover {
	transform: scale(1.1);

}

form label {
	width: 72px;
	font-weight: normal;
	display: inline-block;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"],
form input[type="datetime-local"] {
	width: 200px;
	padding: 3px 10px;
	border: 1px solid #ba6f84;
	border-radius: 3px;
	background-color: #f6f6f6;
	margin: 8px 0;
	display: inline-block;
}

textarea {
	width: 100%;
	height: 100px;
	border: 1px solid #f6f6f6;
	border-radius: 3px;
	background-color: #f6f6f6;
	margin: 8px 0;
	resize: none;
	display: block;
	font-family: allerta;
	color: #ba6f84;

}

input[type="button"] {

	width: 225px;
	height: 30px;
	font-family: allerta;
	color: white;
	border: 1px solid #ba6f84;
	background-color: #fac8e1;
	border-radius: 5px;

}

form input[type="button"]:hover {
	cursor: pointer;
	color: #ba6f84;

}

form input[type="reset"] {
	cursor: pointer;
	color: #ba6f84;
}

footer {
	z-index: 1200;
	background-color: #2b140e;
	width: 100%;
	color: #ba6f84;
	font-family: allerta;
	justify-content: space-between;
	font-size: 30px;
}

.container-body {
	display: flex;
	flex-wrap: wrap;

}


.column1 {

	padding: 40px;
	max-width: 300px;
	display: flex;
	display: block;

}

.column1 h1 {
	font-size: 17px;

}

.column1 p {

	font-size: 14px;
	color: #660655;
	margin-top: 20px;

}

.row0 {

	margin-top: 20px;
	display: flex;
	justify-content: center;

}

.row0 img {

	width: 160px;
	height: 120px;
	display: flex;

}

.column2 {

	padding: 40px;
	max-width: 400px;
	display: flex;
	display: block;
	flex-wrap: wrap;
	justify-content: space-between;
}

.column2 h1 {

	font-size: 17px;

}

.row {
	margin-top: 20px;
	display: flex;
	color: #660655;
	font-size: 12px;

}

.row img {

	width: 34px;
	height: 34px;

}

.row label {

	margin-top: 10px;
	margin-left: 15px;
	font-size: 14px;

}

.column3 {
	padding: 40px;
	max-width: 200px;
	display: flex;
	display: block;
	flex-wrap: wrap;
}

.column3 h1 {

	font-size: 17px;
	flex-wrap: wrap;

}

.row {

	margin-top: 20px;
	display: flex;
	color: #660655;
	font-size: 12px;

}

.row img {

	width: 34px;
	height: 34px;

}

.row label {

	margin-top: 10px;
	margin-left: 15px;

}

.column3 {

	padding: 40px;
	max-width: 400px;
	display: flex;
	display: block;
	flex-wrap: wrap;
}

.column3 h1 {

	font-size: 14px;
	flex-wrap: wrap;

}

.row2 {

	margin-top: 28px;
	font-size: 12px;
	color: #660655;
	display: flex;

}

.row2 label {

	margin-top: 10px;
	margin-left: 15px;
	font-size: 14px;

}

.row2 h1 {

	font-size: 20px;
	color: #660655;
	display: flex;
	display: block;

}

.container-footer {

	width: auto;
	background: #FACBF2;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	flex-wrap: wrap;

}

.copyright {
	font-size: 10px;
	margin-left: 40px;
	color: #D548B2;
}

.copyright a {

	font-size: 10px;
	text-decoration: none;
	color: #D548B2;
	margin-right: 10px;
	margin-left: 10px;
}

.terminos a {

	font-size: 10px;
	text-decoration: none;
	color: #FF00B9;
	margin-right: 10px;
	margin-left: 10px;
}

.terminos {
	margin: auto;
	width: 27%;
}

.whatsapp {

	position: fixed;
	right: 15px;
	bottom: 75px;
	display: block;
}

.instagram {

	position: fixed;
	right: 15px;
	bottom: 140px;
	display: block;
}

.tdtext {
	text-align: left;
	font-size: 16px;
	font-family: basic;
	padding-left: 15px;
	vertical-align: top;
}